.img{
	width: 1680px;
	height: 974px;
}
.div1{
	position: relative;
	float: right;
	padding-top: 20px;
	padding-right: 20px;

}
.div{
	position: absolute;
}
.icon1{
	padding-left: 15px;
}
.img1{
	width: 100%;
	height: 100%;
}
.logo{
	position: relative;
	width: 250px;
	height: 250px;
	margin-left: 25px;
	float: left;
	display: inline-block;
}
.p{
	font-family: 'Niconne', cursive;
	position: relative;
	font-size: 100px;
	color: #5F021F;
	padding-left: 620px;
	padding-top: 100px;
}
.p1{
	position: relative;
	color: #FFFFFF;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	padding-left: 70px;
	padding-top: 20px;
	opacity: 100%;
}
.box{
	position: relative;
	border: 2px solid;
	width: 250px;
	height: 100px;
	margin-left: 680px;
	margin-top: 450px;
	color: #5F0502;
	background-color: #5F0502;
	opacity: 50%;
}
.p3{
	font-family: 'Niconne', cursive;
	position: relative;
	font-size: 120px;
	color: #5F021F;
	padding-top: 680px;
	padding-left: 100px;
}
.box2{
	border: 1px solid;
	position: relative;
	width: 670px;
	height: 80px;
	float: right;
	color: #000000;
	background-color: #000000;
	opacity: 50%;
}
.p4{
	color: white;
	font-size: 42px;
	font-family: 'Roboto', sans-serif;
	padding-top: 15px;
	padding-left: 10px;
}
.nav{
	position: relative;
	padding-top: 50px;
	padding-left: 850px;
}
.li{
	display: inline-block;
	font-size: 35px;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding-right: 30px;
}
a{
	color: white;
}
.in{
	width: 100%;
	height: 1500px;
	position: absolute;
}
.is{
	position: relative;
	padding-left: 30px;
	padding-top: 30px;
	float: left;
}
.box3{
	border: 1px solid black;
	position: relative;
	width: 150px;
	height: 70px;
	float: right;
	margin-right: 780px;
	background-color: black;
	opacity: 70%;
	margin-top: 30px;
}
.ab{
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding-top: 15px;
	padding-left: 15px;
}
.box4{
	position: relative;
	border: 1px solid black;
	width: 500px;
	height: 1000px;
	float: left;
	margin-top: 250px;
	background-color: black;
	opacity: 70%;
}
.t{
	font-size: 55px;
	color: white;
	font-family: 'Roboto', sans-serif;
	vertical-align: middle;
}
.box5{
	position: relative;
	border: 1px solid black;
	width: 500px;
	height: 1250px;
	float: left;
	background-color: black;
	opacity: 70%;
	margin-left: 350px;
	margin-top: 150px;
}
.pa{
	font-size: 55px;
	color: white;
	font-family: 'Roboto', sans-serif;
	vertical-align: middle;
}
.back{
	width: 100%;
	height: 3000px;
	position: absolute;
}
.is{
	position: relative;
	padding-left: 30px;
	padding-top: 30px;
	float: left;
}
.box6{
	border: 1px solid black;
	position: relative;
	width: 200px;
	height: 70px;
	float: right;
	margin-right: 780px;
	background-color: black;
	opacity: 70%;
	margin-top: 30px;
	padding-left: 10px;
}
.img3{
	position: relative;
	float: left;
	padding-top: 100px;
}
.img2{
	position: relative;
	padding-left: 200px;
	padding-top: 100px;
}
.img8{
	position: relative;
	padding-left: 100px;
}
.img6{
	position: relative;
	padding-top: 70px;
	padding-left: 100px;
}
.img5{
	position: relative;
	padding-left: 100px;
	padding-top: 50px;
}
.img7{
	position: relative;
	padding-left: 80px;
	padding-top: 80px;
}
.img4{
	position: relative;
	padding-left: 100px;
	padding-top: 60px;
}
.back2{
	width: 100%;
	height: 100%;
	position: absolute;
}
.ira{
	position: relative;
	padding-top: 50px;
	padding-left: 50px;
	width: 560px;
	height: 460px;

}
.box7{
	border: 1px solid black;
	position: relative;
	width: 510px;
	height: 70px;
	margin-left: 50px;
	background-color: black;
	opacity: 65%;
	margin-top: 10px;

}
.p7{
	font-size: 40px;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	font-family: 'Roboto', sans-serif;
}
.maps{
	position: relative;
	padding-left: 50px;
	padding-top: 10px;
	width: 560px;
	height: 400px;
}
.boxx{
	border: 1px solid black;
	background-color: black;
	width: 250px;
	height: 70px;
	position: relative;
	float: right;
	margin-top: 70px;
	margin-right: 120px;
	opacity: 70%;
}
.c{
	opacity: relative;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 43px;
	padding-top: 10px;
	padding-left:  10px;
}
.section{
	position: relative;
	float: right;
}
.a{
	border: 1px solid white;
	width: 300px;
	height: 70px;
	background-color: white;
	opacity: 70%;
	margin-right: 300px;
	margin-bottom: 20px;
}
.b{
	border: 1px solid white;
	width: 300px;
	height: 70px;
	background-color: white;
	opacity: 70%;
	margin-bottom: 20px;
}
.g{
	border: 1px solid white;
	width: 400px;
	height: 70px;
	background-color: white;
	opacity: 70%;
	margin-bottom: 20px;
}
.d{
	border: 1px solid white;
	width: 500px;
	height: 70px;
	background-color: white;
	opacity: 70%;
	margin-bottom: 20px;
}
.i{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 40px;
}
.ge{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 40px;
}
.sh{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 40px;
}
.ige{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 40px;
}
.img8{
	opacity: relative;
	float: right;
	margin-right: 40px;
}